<div class="sidemenu">
    <div class="logo"><h4>Admin</h4></div>
    <div class="meniList">
        <div class="meniItem"><a routerLink="dashboard">Dashboard</a></div>
        <div class="meniItem"><a routerLink="users">Users</a></div>
        <div class="meniItem"><a routerLink="profile">Profile</a></div>
        <div class="meniItem"><a routerLink="map">Map</a></div>
        <div class="meniItem"><a routerLink="contact">Contact</a></div>
        <div class="meniItem"><a routerLink="chat">Chat</a></div>
        <div class="meniItem"><a routerLink="request">Request</a></div>
        <div class="meniItem"><a routerLink="logout">Logout</a></div>
    </div>
</div>
