.sidemenu{
   height: 900px;
    background-color: rgb(222, 238, 248);
}
.logo{
    margin-left: 40px;
    padding-top: 20px;
    height: 50px;
    color: black;
}
.meniItem{
    margin: 40px;    
}
.meniItem a{
   text-decoration: none;
   color: rgb(17, 15, 15);  
}
a:hover{
    width: 70px;
    height: 50px;  
}
